

    
        body {
            background-color: lightblue;
        }
        
        h1 {
            color: white;
            text-align: center;
        }
        
        p {
            font-family: verdana;
            font-size: 20px;
        }
        p {
            margin-top: 100px;
            margin-bottom: 100px;
            margin-right: 150px;
            margin-left: 80px;
        }
    
       
        div {
            padding-top: 50px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 80px;
        }
        element, element {
            css declarations;
        }
        .intro { 
            background-color: yellow;
        }#id {
            css declarations;